<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.etek.controller">
    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- <uses-permission android:name="com.etek.controller.receiver.NetworkConnectChangedReceiver" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- 蓝牙权限 -->
    <!-- Android6.0 蓝牙扫描才需要 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".DetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.project.BombPassWordSettingActivity"></activity>
        <activity
            android:name=".activity.project.UserInfoActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.project.SettingsActivity2" />
        <activity
            android:name=".activity.project.OfflineEditActivity"
            android:theme="@style/activity_theme" />
        <activity android:name=".activity.project.MapActivity" />
        <activity android:name=".activity.ReportListActivity" />
        <activity android:name=".activity.ProjectManagerActivity" />
        <activity android:name=".activity.project.AuthDownLoadDetailActivity" />
        <activity android:name=".activity.project.AboutActivity" />
        <activity
            android:name=".activity.project.LoginActivity"
            android:theme="@style/activity_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FunctionTestActivity" />
        <activity android:name=".activity.PersonActivity" />
        <activity android:name=".activity.project.MainBoardUpdateActivity" />
        <activity android:name=".activity.ReportActivity2" />
        <activity android:name=".activity.CheckoutActivity2" />
        <activity android:name=".activity.OnlineCheckoutActivity2" />
        <activity android:name=".activity.OnlineAuthorizeActivity2" />
        <activity android:name=".activity.CheckoutDetailActivity2" />
        <activity android:name=".activity.project.ReportDetailActivity2" />
        <activity android:name=".activity.project.HomeActivity2" />
        <activity
            android:name=".activity.ProjectListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.project.ProjectImplementActivity" />
        <activity android:name=".activity.PowerBombActivity" />
        <activity
            android:name=".activity.project.AuthorizedDownloadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AuthBombActivity2" />
        <activity
            android:name=".activity.CheckDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.project.ProjectDetailActivity"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".activity.project.LineCheckActivity"
            android:theme="@style/activity_theme" />
        <activity android:name=".activity.project.SingleCheckActivity" />
        <activity
            android:name=".activity.project.DelayDownloadActivity"
            android:theme="@style/activity_theme" />
        <activity android:name=".activity.AssistActivity" />
        <activity
            android:name=".activity.NetWorkActivity"
            android:theme="@style/activity_theme" />
        <activity android:name=".activity.AuthBombActivity" />
        <activity
            android:name=".activity.project.ConnectTestActivity"
            android:theme="@style/activity_theme" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Gtq6BIbB27g6drxAABY7lOSjgQVH49R1" />

        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/title_activity_personal_info" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.ProMapActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.OfflineCheckActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.OnlineCheckActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.OnlineCheckoutActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.ReportDetailActivity"
            android:label="数据详情"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.ReportActivity"
            android:label="数据上报"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetInfoDetailActivity"
            android:label="@string/title_activity_det_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProDetailActivity"
            android:label="@string/title_activity_pro_detail" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CheckoutActivity"
            android:label="@string/title_activity_checkout" />
        <activity
            android:name=".activity.OnlineAuthorizeActivity"
            android:label="@string/title_act_online_checkout" />
        <activity
            android:name=".activity.OnlineEditActivity"
            android:label="@string/title_act_online_checkout" />
        <activity
            android:name=".activity.CheckoutDetailActivity"
            android:label="@string/title_activity_checkout_detail" />
        <activity
            android:name=".activity.AuthorizeActivity"
            android:label="@string/title_activity_authority" />
        <activity
            android:name=".activity.SelectMapActivity"
            android:label="@string/title_activity_selete_map" />
        <activity
            android:name=".activity.SettingsMoreActivity"
            android:label="@string/title_activity_settings_more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.UpdateActivity" /> <!-- <service android:name=".service.BLeSerialPortService" /> -->
        <service android:name=".service.DownLoadAppService" />

        <provider
            android:name=".provider.InstallProvider"
            android:authorities="com.etek.controller.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_provider_paths" />
        </provider>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>